body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}
@media only screen and (min-width: 760px) {
  body {
    padding: 20px;
  }
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #038;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
h4,
h5,
h6 {
  font-family: "Chelsea Market", cursive;
}
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
a:hover {
  text-decoration: none;
}

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Chelsea Market', cursive;
font-family: 'Josefin Sans', sans-serif;
 */
